@model ISLEParser.Models.Workspace.WorkspaceListViewModel

    <style>
        #OpenButton:link, #OpenButton:visited {
            background-color: blue;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        #OpenButton:hover, #OpenButton:active {
            background-color: darkblue;
        }
        #DeleteButton:link, #DeleteButton:visited {
            background-color: red;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        #DeleteButton:hover, #DeleteButton:active {
            background-color: darkred;
        }
        #DownloadButton:link, #DownloadButton:visited {
            background-color: green;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        #DownloadButton:hover, #DownloadButton:active {
            background-color: darkgreen;
        }
    </style>

@*<ul>
    @foreach (var item in Model.Workspaces)
    {
        <li>
            <a asp-action="Download"
               asp-route-filename="@item.Name">
                @item.Name
            </a>
            
            <a asp-action="GetWorkspaceScripts" asp-controller="Workspace" asp-route-name="@item.Name">
                @item.Name 
            </a>

            <a asp-action="DeleteWorkspace" asp-controller="Workspace" asp-route-name="@item.Name">
               @item.Name
            </a>
            
        </li>
    }
</ul>*@

<table class="table table-dark">
    <thead>
        <tr>
            <th class="text-center" scope="col">Previously uploaded files</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Workspaces)
        {

        <tr>
            <td class="text-center">@item.Name</td>

            <!-- Button trigger modal -->
            <td class="text-center">


                <a id="OpenButton" asp-action="GetWorkspaceScripts" asp-controller="Workspace" asp-route-name=@item.Name>Open</a>

            </td>
            <td>

                <a id="DeleteButton" asp-action="DeleteWorkspace" asp-controller="Workspace" asp-route-name=@item.Name>Delete</a>

            </td>
            <td>

                <a id="DownloadButton" asp-action="Download" asp-route-filename="@item.Name">Download</a>

            </td>
        </tr>
        }




    </tbody>
</table>
