
@model ISLEParser.Models.WorkspaceItems.WorkspaceItemViewModel

    <div id="container" class="container">
        <div class="col-lg-6 offset-lg-3 text-center">
            <form class="text-center" asp-action="AddScriptInFile" asp-controller="WorkspaceItems" asp-route-name="@Model.WorkspaceName">
                <div class="form-group">
                    <label for="id">New generated function ID: @Model.Script.Id</label>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Function Name</label>
                        <input type="text" class="form-control" asp-for="Script.Name" placeholder="@Model.Script.Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Function Type</label>
                        <input type="text" class="form-control" asp-for="Script.Type" placeholder="@Model.Script.Type">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputSpeedFadeIn">Speed - Fade In</label>
                            <input type="text" class="form-control" asp-for="Script.SpeedFadeInAttribute" placeholder="@Model.Script.SpeedFadeInAttribute">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputSpeedFadeOut">Speed - Fade Out</label>
                            <input type="text" class="form-control" asp-for="Script.SpeedFadeOutAttribute" placeholder="@Model.Script.SpeedFadeOutAttribute">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputSpeedDuration">Speed - Duration</label>
                            <input type="text" class="form-control" asp-for="Script.SpeedDurationAttribute" placeholder="@Model.Script.SpeedDurationAttribute">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDirection">Direction</label>
                        <select class="form-control" asp-for="Script.Direction">
                            <option selected>Forward</option>
                            <option>Backwards</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputRunOrder">Run Order</label>
                        <select class="form-control" asp-for="Script.RunOrder">
                            <option selected>Loop</option>
                            <option>PingPong</option>
                            <option>SingleShot</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="standardCommands">Commands</label>
                        <textarea class="form-control" asp-for="Script.Commands" rows="9">
                    @foreach(var item in Model.Script.Commands)
                    {
                        @(item.ToString() + "\n");
                    }
                    </textarea>
                    </div>
                    <div class="form-group">
                        <label><b>New RGB Matrices:</b></label>
                    </div>
                    <div class="form-group">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">RGB Matrix</th>
                                    <th scope="col">JavaScript Algorithm Name</th>
                                    <th scope="col">RGB Panel</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Script.RgbMatrices)
                                {
                                    <tr>
                                        <th scope="row">@item.Id</th>
                                        <td>@item.Name</td>
                                        <td>@item.AlgorithmName</td>
                                        <td>@item.FixtureGroup</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary" asp-action="AddScriptInFile" asp-controller="WorkspaceItems">Submit</button>
            </form>
        </div>
    </div>