
@model ISLEParser.Models.WorkspaceItems.WorkspaceItemListViewModel

<style>
    #EditButton:link, #EditButton:visited, #DeleteButton:link, #DeleteButton:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    #EditButton:hover, #EditButton:active, #DeleteButton:hover, #DeleteButton:active {
        background-color: red;
    }

    .button {
  background-color: Crimson;  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
}

.button:focus,
.button:hover {
  background-color: FireBrick;
  color: White;
}

table .collapse.in {
    display:table-row;
}
</style>

@if(TempData["scriptAdded"] != null)
{
    <div class="alert alert-success text-center">@TempData["scriptAdded"]</div>
}

@if(TempData["workspaceItemDeleted"] != null)
{
    <div class="alert alert-danger text-center">@TempData["workspaceItemDeleted"]</div>
}

<div class="dropdown text-center">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Sort by
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-action="GetWorkspaceScripts" asp-controller="Workspace" asp-route-name="@Model.WorkspaceName">Scripts</a>
        <a class="dropdown-item" asp-action="GetWorkspaceRgbMatrices" asp-controller="Workspace" asp-route-name="@Model.WorkspaceName">RGB Matrices</a>
        <a class="dropdown-item" asp-action="GetWorkspaceAllItems" asp-controller="Workspace" asp-route-name="@Model.WorkspaceName">All</a>
    </div>
</div>

<div>
    <a asp-action="AddScript" asp-controller="WorkspaceItems" asp-route-name="@Model.WorkspaceName" role="button">Add Script</a>
</div>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th class="text-center" scope="col">ID</th>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Type</th>
            <th class="text-center" scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WorkspaceItems)
        {

        <tr class="clickable" @*data-toggle="collapse" id="row@(item.Id)" data-target=".row@(item.Id)"*@>
            
            <td class="text-center">@item.Id</td>
            <td class="text-center">@item.Name</td>
            <td class="text-center">@item.Type</td>
            <td class="text-center">
                <a id="EditButton" asp-action="ViewScript" asp-controller="WorkspaceItems" asp-route-id=@item.Id asp-route-name="@Model.WorkspaceName" asp-route-type="@item.Type">View</a>
            </td>
            <td class="text-center">
                <a id="DeleteButton" asp-action="DeleteWorkspaceItem" asp-controller="WorkspaceItems" asp-route-id=@item.Id asp-route-name="@Model.WorkspaceName" asp-route-type="@item.Type">Delete</a>             
            </td>
        </tr>
        @*<tr class="collapse row@(item.Id)">
            <td>
                @foreach (KeyValuePair<string, string> sn in Model.scriptNames)
                {
                    if (sn.Key.Equals(item.Name))
                    {
                        <script src="/ScriptJs/@(sn.Value)"></script>
                    }
                }
                <table id="map@(item.Id)">
                </table>
            </td>
        </tr>*@
        }




    </tbody>
</table>


